/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap';
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

li {
  margin: 0;
  line-height: initial;
}

address {
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.1;
}

div {
  display: block;
}

address {
  font-style: normal;
  color: var(--primary-white-color);
}

footer {
  font-family: "Roboto", sans;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

section {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.title-title {
  margin-bottom: 50px;
}

.soc {
  display: block;
}
.soc__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
.soc__item {
  height: 20px;
  width: 20px;
}
.soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}
.soc__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
}

.header {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--accent-line-color);
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}
@media screen and (min-width: 480px) {
  .header__wrap {
    height: 60px;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .header__wrap {
    height: 80px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrap {
    height: 80px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
  }
}

.logo__accent--header {
  color: var(--logo-color);
}

@media screen and (min-width: 480px) {
  .burger__menu {
    position: relative;
    top: 130%;
    left: 0%;
  }
  .burger__menu .burger {
    display: block;
  }
  .burger__menu .burger .burger__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    background-color: var(--primary-white-color);
    margin-left: 280px;
  }
  .burger__menu .burger .burger__line {
    display: block;
    width: 23px;
    height: 2.6px;
    background-color: var(--logo-color);
    position: relative;
  }
  .burger__menu .burger .burger__line::before, .burger__menu .burger .burger__line::after {
    content: " ";
    display: block;
    width: 23px;
    height: 2.6px;
    background-color: var(--logo-color);
    position: absolute;
  }
  .burger__menu .burger .burger__line::before {
    top: -7px;
  }
  .burger__menu .burger .burger__line::after {
    bottom: -7px;
  }
  .burger__menu .burger .burger__button.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .burger__menu .burger .burger__button.is-open .burger__line {
    width: 0;
  }
  .burger__menu .burger .burger__button.is-open .burger__line::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: -10px;
    top: 0;
  }
  .burger__menu .burger .burger__button.is-open .burger__line::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: -10px;
    bottom: 0;
  }
  .burger__menu .burger .burger__nav {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(175, 177, 184);
    padding: 48px 40px 48px 15px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
  }
  .burger__menu .burger .burger__nav.is-open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) {
  .burger__menu {
    display: none;
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .burger__menu {
    display: none;
  }
}

/* Site nav */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 480px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link:not(:last-child) {
  color: var(--title-text-color);
  margin-right: 50px;
  margin-bottom: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom {
  display: block;
  content: " ";
  margin-bottom: 32px;
}

.under-link:after {
  display: block;
  content: " ";
  height: 4px;
  width: 100%;
  border-radius: 4px;
  border: var(--accent-color);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 28px;
}

.curent {
  color: var(--accent-color);
}

.link-bottom {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  gap: 52px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover, .contact:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
@media screen and (min-width: 280px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    padding-top: 21px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    margin-left: 0;
  }
}

.envelope {
  fill: var(--primary-text-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  fill: var(--primary-text-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .smartphone {
    margin-left: 30px;
  }
}

.link__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .link__mail {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .link__mail {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .link__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 315px;
  }
}
.link__mail:hover .envelope, .link__mail:focus .envelope {
  fill: var(--accent-color);
}

.link__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link__tel:hover .smartphone, .link__tel:focus .smartphone {
  fill: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color);
}
.hero__wrap {
  display: block;
  margin: 0 auto;
}
.hero__title {
  display: block;
  margin: 0px auto 30px auto;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    width: 360px;
    height: 84px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    width: 360px;
    height: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
  }
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  outline: 1px solid rgb(196, 196, 196);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(47, 48, 58, 0.4))), url(../images/header.jpg);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @i;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 480px) {
  .benefits {
    gap: calc(33.3333333333% - 15px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 480px;
    width: calc((100% - 30px) / 2);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 248px;
    width: calc((100% - 90px) / 4);
    padding-bottom: 0;
  }
}

.wrap {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap:nth-child(4n) {
  margin-right: 0;
}

.text__wrap {
  width: 100%;
}
.text__wrap:nth-child(-n+4) {
  margin-bottom: 0;
  margin-top: 0;
}
.text__wrap::before {
  display: block;
  content: " ";
  height: 120px;
  border-radius: 4px;
  background-color: rgb(245, 244, 250);
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
}

.item__antena::before {
  background-image: url(../images/antenna.svg);
}
.item__antena::before {
  background-size: 70px;
}

.item__clock::before {
  background-image: url(../images/clock.svg);
}
.item__clock::before {
  background-size: 70px;
}

.item__diagram::before {
  background-image: url(../images/diagram.svg);
}
.item__diagram::before {
  background-size: 70px;
}

.item__astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.item__astronaut::before {
  background-size: 70px;
}

@media screen and (min-width: 480px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activity {
    display: block;
    padding-top: 0;
  }
  .activity__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .activity__item {
    width: 370px;
  }
  .activity__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .activity__item {
    width: calc((100% - 60px) / 3);
  }
  .activity__wrap {
    position: relative;
    height: 100%;
    top: -70px;
    left: 0;
    overflow: visible;
  }
  .activity-top-text {
    position: absolute;
    top: 100%;
    left: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
    padding-top: 27px;
    padding-left: auto;
    padding-right: auto;
  }
}

.team {
  background-color: rgb(245, 244, 250);
  background-position: center;
}
.team-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}
.team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 480px) {
  .team-cards {
    gap: calc(100% - 15px);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) {
  .team-cards {
    width: calc((100% - 30px) / 2);
    gap: 30px;
    height: 1051px;
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .team-cards {
    width: calc((100% - 90px) / 4);
    height: 428px;
  }
}
.team .card {
  width: 100%;
}
.team .card__box {
  display: block;
  margin: 0 auto;
}
.team .card__name {
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}
.team .card__title {
  display: block;
}
.team .card__description {
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-align: center;
}
.team .card__box {
  display: block;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team .card__box:hover {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.team .card__link {
  background-color: var(--primary-white-color);
}
@media screen and (min-width: 480px) {
  .team .card__links {
    padding: 16px 122px 24px;
  }
}
@media screen and (min-width: 768px) {
  .team .card__links {
    padding: 16px 74px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team .card__links {
    padding: 16px 32px 30px;
  }
}

.clients {
  padding-bottom: 0;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .clients-list {
    width: calc((100% - 30px) / 2);
    height: 399px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    width: calc((100% - 60px) / 3);
    height: 277px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    width: calc((100% - 150px) / 6);
    height: 184px;
  }
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon {
  width: 100%;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon:hover, .client__icon:focus {
  border-color: var(--accent-color);
}
.client__icon:hover .client__icon--logo, .client__icon:focus .client__icon--logo {
  fill: var(--accent-color);
}
.client__icon--logo {
  fill: rgb(175, 177, 184);
  height: 60px;
  width: 106px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon--logo:hover, .client__icon--logo:focus {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  .footer {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    padding-bottom: 60px;
  }
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo-footer {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.logo-footer {
  display: block;
  width: 135px;
  height: 31px;
  /* WebStudio */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .logo-footer {
    margin: 0 163px;
  }
}
@media screen and (min-width: 768px) {
  .logo-footer {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    margin: 0;
  }
}

.accent-footer {
  color: var(--primary-white-color);
}

.address {
  margin-top: 20px;
  font-family: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
}

.address-wrap {
  display: flex-column;
}
@media screen and (min-width: 480px) {
  .address-wrap {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .address-wrap {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .address-wrap {
    text-align: left;
  }
}

.contact-link {
  display: block;
  margin-top: 9px;
}

.footer-contact {
  display: block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel {
  display: block;
  margin-top: 9px;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-text-color);
  text-decoration: none;
}

.footer-soc {
  display: block;
  gap: 10px;
}
@media screen and (min-width: 480px) {
  .footer-soc {
    margin: 60px 134px;
  }
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    margin: 0;
  }
}

.title-soc {
  padding-top: 15px;
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin: 9px auto 20px;
}
@media screen and (min-width: 480px) {
  .title-soc {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .title-soc {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .title-soc {
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .footer-link-wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-link-wrap {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-link-wrap {
    margin-right: 0;
    margin-left: 93px;
  }
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-link {
    margin-right: 0;
  }
}

.footer-label {
  display: block;
  margin: 0;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .footer-label {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer-label {
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-label {
    width: 358px;
  }
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding-left: 28px;
  height: 50px;
  width: 200px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover .icon-send,
.footer-button:focus .icon-send {
  fill: var(--accent-color);
  background-color: var(--primary-white-color);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

.icon-send {
  fill: var(--primary-white-color);
  width: 24px;
  height: 24px;
  margin: 13px 28px 13px 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-link {
  text-decoration: none;
}

.icon-send-footer {
  display: block;
  width: 100%;
  height: 100%;
}

.footer-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color);
  text-align: start;
  padding: 16px 15px;
}

.footer-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  padding-bottom: 94px;
}

.portfolio-nav {
  margin: 0 auto;
}

/* Buttons */
.buttons {
  margin-bottom: 35px;
}
@media screen and (min-width: 480px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-nav:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 480px) {
  .button-nav {
    margin-bottom: 15px;
  }
}

.primary-portfolio {
  color: var(--title-text-color);
  background-color: var(--button-color);
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primary-portfolio:hover, .primary-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* --------------------------*/
.main-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

@media screen and (min-width: 480px) {
  .project {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .project {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project {
    width: calc((100% - 60px) / 3);
  }
}
.project__link {
  display: block;
  text-decoration: none;
  width: 100%;
  -webkit-transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06);
}
.project__link:hover .project-top-text, .project__link:focus .project-top-text {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project__link:hover .project-top, .project__link:focus .project-top {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project__wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
}
.project-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project-top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  padding: 63px 24px;
}
.project-titles {
  height: 110px;
  padding: 20px 24px;
  border: 1px solid var(--button-color);
  border-top: none;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.project-description {
  font-size: 16px;
  line-height: 2;
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 0.5px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hiden-title {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --background-color: #2f303a;
  --button-color: #eeeeee;
  --accent-text-color: #ffffff99;
  --accent-line-color: #ECECEC;
}

.logo {
  display: block;
  width: 135px;
  height: 31px;
  /* WebStudio */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.big__button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.big__button:hover, .big__button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleY(0) rotate(-180deg);
          transform: translate(-50%, -50%) scaleY(0) rotate(-180deg);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  min-height: 581px;
  background: var(--primary-white-color);
  border-radius: 4px;
  padding: 40px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scaleY(1) rotate(0);
          transform: translate(-50%, -50%) scaleY(1) rotate(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    position: relative;
    top: 50%;
    left: 50%;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: relative;
    top: 50%;
    left: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: relative;
    top: 50%;
    left: 50%;
  }
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.modal__input {
  overflow: hidden;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  padding: 10px 10px 10px 42px;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input::-webkit-input-placeholder {
  height: 96px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 16px 12px;
}
.modal__input::-moz-placeholder {
  height: 96px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 16px 12px;
}
.modal__input:-ms-input-placeholder {
  height: 96px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 16px 12px;
}
.modal__input::-ms-input-placeholder {
  height: 96px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 16px 12px;
}
.modal__input::placeholder {
  height: 96px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 16px 12px;
}
.modal__input:focus {
  border: 1px solid var(--accent-color);
}
.modal__input:focus + svg {
  fill: var(--accent-color);
}

.close {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  border-color: rgba(0, 0, 0, 0.1);
  fill: #000000;
  background-color: var(--primary-white-color);
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover, .close:focus {
  fill: var(--accent-color);
  background-color: var(--primary-white-color);
}
.close__round {
  width: 11px;
  height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.close__item {
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
}

.icon-check {
  width: 100%;
  height: 100%;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.comment-title {
  margin-bottom: 0;
}

.modal-comment {
  resize: none;
  height: 120px;
  padding-left: 16px;
}

.modal-comment::-webkit-input-placeholder {
  padding-left: 0;
  padding-top: 0;
}

.modal-comment::-moz-placeholder {
  padding-left: 0;
  padding-top: 0;
}

.modal-comment:-ms-input-placeholder {
  padding-left: 0;
  padding-top: 0;
}

.modal-comment::-ms-input-placeholder {
  padding-left: 0;
  padding-top: 0;
}

.modal-comment::placeholder {
  padding-left: 0;
  padding-top: 0;
}

input, textarea {
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
}

.button-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button:focus {
  background-color: var(--accent-color);
}

.icon-user {
  position: absolute;
  fill: rgb(33, 33, 33);
  top: 104px;
  left: 52px;
  width: 18px;
  height: 18px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  position: absolute;
  fill: rgb(33, 33, 33);
  top: 172px;
  left: 52px;
  width: 18px;
  height: 18px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-email {
  position: absolute;
  fill: rgb(33, 33, 33);
  top: 240px;
  left: 52px;
  width: 18px;
  height: 18px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.modal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 8px;
}

.modal-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.text-check {
  display: block;
  height: 100%;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.send-link {
  color: var(--accent-color);
}

.icon-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 1.5px solid #212121;
  border-radius: 2px;
  fill: var(--primary-white-color);
  cursor: pointer;
}

.icon-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
}

.check-box {
  display: none;
  margin-bottom: -2px;
  margin-right: -22px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box:checked + .icon-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

label.modal-send {
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */