:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --logo-color: #000000;
    --background-color: #2f303a;
    --button-color: #eeeeee;
    --accent-text-color: #ffffff99;
    --accent-line-color: #ECECEC;
  }
  
