.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: 
  rgba(245, 244, 250, 1);
    background-position: center;
    & {
        margin: 0 auto;
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }
}

.card {
    width: 270px;
    &__box {
        display: block;
    }
    &__name {
        padding-top: 30px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        color: var(--title-text-color);
        text-align: center;
    }
    &__title {
        display: block;
    }
    &__description {
        padding-top: 10px;
        margin-right: auto;
        margin-left: auto;
        font-size: 16px;
        line-height: 1.2;
        color: var(--primary-text-color); 
        text-align: center;
    }
    &__box {
        display: block;
        border-radius: 4px;
        background-color:var(--primary-white-color);
        box-shadow:0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        }
        &:nth-child(4n) {
        margin-right: 0;
    }
    &:nth-child(-n + 4) {
        margin-bottom: 0;
    }
    &__box:hover {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    }
    &__link {
        background-color: var(--primary-white-color);
    }
    &__links {
    padding: 16px 32px 30px;
    }
}