.logo {
    display: block;
    width: 135px;
    height: 31px;
    /* WebStudio */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--accent-color); 
  }